  {{#each posts as |post|}}
  <div class="card-sizing">
    <div class="card-flex-article card column medium-3">
      <div class="card-image">
        <img src="images/posts/{{post.filename}}">
      </div>
      <div class="card-section">
        <h3 class="article-title"><a href="/posts/{{id}}">{{post.name}}</a></h3>
        <p class="article-summary">{{post.description}}</p>
      </div>
      <div class="card-divider align-middle">
        <div class="user-info">
          <p class="user-name">Added by {{user.name}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}